@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidde;
}

body {
  font-family: sans-serif;
  background-color: #0A061B;
  color: white;
}